.body {
  font-size: 12px;
}

.header {
  padding: 4vh 8vw 4vh 8vw;
  font-size: 2rem;
  color: white;
  background-color: aquamarine;
  border-bottom: 4px solid black;
}

.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4vh;
  margin-right: 8vw;
  margin-left: 8vw;
}

.card {
  width: 16vw;
  height: 36vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 6%;
  background-color: rgb(219, 219, 219);
  /* margin: 0 0 4rem 0; */
}

.prices {
  height: 5rem;
  width: auto;
  padding: 1rem 1rem 0 1rem;
  display: inline-block;
}

.card-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: .25rem;
  border-style: solid;
  border-radius: 6%;
  border-color: grey;
}